*{
	box-sizing:border-box;
	font-family: sans-serif !important;
}
html,body{
	margin: 0;
	padding: 0;
}
body{
	width: 100%
}
a{
	text-decoration: none !important;
}
a:visited{
	color:#333;
}
.container-main{
	border:1px solid #999;
	box-shadow: 0 0 8px -1px #4E4E4E;
	height: 100%;
	margin: 0 auto;
	width: 1200px;
}
.header{
	background: #0FB0AA;
	height: 55px;
	padding: 15px;
}
.left-pane, .center-pane{
	padding: 15px;
}
.left-pane{
	background: #fff;
	border-right: 1px solid #aaa;
	/*border:2px solid #333;*/
	float: left;
	height: calc(100% - 50px);
	text-align: center;
	width:280px;
}
.device-name{
    margin-top: 15px;
    height: 45px;
}
.device-name a{
	color: #333;
}
.device-desc{
	line-height: 20px;
	height: 225px;
    margin: 0 auto;
    text-align: left;
    width: 180px;
}
.left-pane .device-image{
    height: 280px;
    padding: 10px 0px;
}
.left-pane .device-image img{
	width: 65%;
}
.device-btn{
	margin: 10px auto;
    text-align: left;
    width: 180px;
}
.center-pane{
	background: #fff;
	/*border:2px solid #333;*/
	float: left;
	height: calc(100% - 50px);
	overflow-y:scroll;
	padding: 15px;
	width:calc(100% - 280px);
}
.center-pane .device-image img{
    height: 160px;
    max-width: 238px;
}
.souq-device{
	float: left;
	height: 50%;
	padding: 15px;
	position: relative;
	width: calc(100%/4);
}
.souq-device .device-placeholder img{
    width: 75px;
    height: 139px;
    margin-top: 0px;
}
.souq-device .device-name{
	color: #434396;
	font-size: 16px;
	height: 60px;
}
.souq-device .device-price{
	height: 35px;
	margin-top: 11px;
}
.souq-device .device-price-old, .souq-device .device-price-new{
	color: #666;
	font-size: 14px;
}
/*.right-pane{
	background: #fff;
	float: left;
	height: calc(100% - 50px);
	overflow-y:scroll;
	width:300px;
}
.right-pane .souq-device{
    float: left;
    height: 280px;
    padding: 15px;
    width: 100%;
}*/
.check-overlay{
	display:none;
    position: absolute;
    background-image: url(../img/checkmark.png);
    background-size: 100px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
}
.cat-select select{
	background-color: #fff;
    border-radius: 3px;
    color: #666;
    height: 25px;  
}
.page-jump{
	text-align: left;
}
.page-jump input, .page-jump button{
	border:1px solid #aaa;
}
.page-jump input{
	height: 25px;
	padding: 0 5px;
}
.page-jump button{
	background-color: #fff;
	height: 25px;
}
#pagination{
    padding: 10px 0;
}

.upload-dialog{
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 16px solid #84C3BE;
	background-color: white;
	z-index:1002;
	overflow: auto;
}
.login-dialog{
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 16px solid #84C3BE;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

.loading{
	position: absolute;
	top: 40%;
	left: 45%;
	width: 2%;
	height: 2%;
	padding: 16px;
	border: 16px solid #84C3BE;
	background-color: white;
	z-index:1002;
	
}

/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

.welcome{
	float: right;
    margin-top: -21px;
    margin-right: 172px;
}

#login{
	border-radius: 7px;
    background-color: #07BFB7;
    border: 1px solid #fff;
    width: 100px;
    height: 25px;
    outline: 0;
}
.dropdown{
	cursor: pointer;
}
.dropdown p{
	margin: 0;
	color: #fff;
	font-weight: 600;
	padding-bottom: 10px;
}
.dropdown ul li a{
	color: #333;
}
.dropdown-content{
	background: #fff;
	box-shadow: 1px 1px 5px 0px #333;
	position: absolute;
	top: 30px;
	display: none;
	list-style-type: none;
	padding-bottom: 8px;
	width: 150px;
	z-index:999;
}
.dropdown-content li{
	color: #fff;
	margin-left: -25px;
	padding-top: 10px;
}
.dropdown:hover .dropdown-content{
	display:block;
}